*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid; 
  grid-template-columns: minmax(auto, 711px) 30px minmax(auto, 399px);
  grid-template-areas: "result-area . details-area";
  max-inline-size: 1140px;
}

.result {
  grid-area: result-area;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
  box-sizing: border-box;
}

.result__video-container {
  width: 100%;
  max-width: 711px;
  max-height: 386px;
  margin-top: 78px;
  position: relative;
  margin-bottom: 16px;
  flex-shrink: 0;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.button {
  background: none;
  color: #fff;
  font-family: inherit; 
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, text-decoration 0.2s, border-color 0.2s;
  min-height: 34px; 
  border: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.button:active { 
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  grid-column: 5;
  grid-row: 1;
  align-self: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  margin-top: 20px;
}

.more-button { 
  min-width: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: minmax(auto, 225px) 40px minmax(auto, 212px) 40px minmax(auto, 194px);
  grid-template-rows: auto;
  align-items: start;
  gap: 0 0;
  max-width: 711px;
}

.search-form__fieldset {
  grid-row: 1;
  border: none;
}

.search-form__fieldset:first-of-type {
  grid-column: 1;
}

.search-form__fieldset:nth-of-type(2) {
  grid-column: 3;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-family: inherit;
  font-size: inherit;
  line-height: 21.6px;
  background-color: transparent;
  margin-bottom: 6px;
}

.search-form__textfield {
  display: inline-flex;
  width: 100%;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  border-color: currentColor;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  background: none; 
  appearance: none; 
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}

.search-form__textfield:active {
  outline: 1px solid #fff; 
  outline-offset: 1px;
}


.search-form__textfield:not(:placeholder-shown) {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none; 
}

.search-form__textfield:focus-visible {
  outline: none;
  border: 1px solid #fff;
}

.search-form__textfield:focus-visible:not(:placeholder-shown) {
  background-color: transparent;
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 5px;
  flex-wrap: nowrap;
  min-width: 0;
}

.search-form__checkbox {
  opacity: 0; 
  position: absolute;
  width: 1px; 
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); 
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px; 
  height: 19px;
  background-color: transparent; 
  border: 1px solid #ffffff;
  padding: 1px; 
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.search-form__pseudo-checkbox:hover {
  text-decoration: underline;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: transparent;
  border-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: ""; 
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 15px; 
  height: 15px;
  margin: auto;
  background: #fff; 
}


.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__fieldset:has(.search-form__checkbox) {
  justify-content: start;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  text-indent: 5px;
}

.search-form__label-text {
  font-size: 18px;
  white-space: normal;
  text-overflow: ellipsis;
  color: #fff;
}

.content__details {
  grid-area: details-area;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  padding-top: 2px;
  letter-spacing: -0.3px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  width: 399px;
  height: 298px;
  overflow-y: auto;
  padding-top: 2px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.content__card-link:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff; 
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: rgba(255, 255, 255, 0.2);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 390px;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-position: center;
  object-fit: cover;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  line-height: 30px;
  padding-top: 3px;
  padding-bottom: 7px;
}

.content__video-card-description-container {
  width: 196px;
  background-color: transparent;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: wrap;
  font-family: "Fira Sans Condensed", sans-serif;
  line-height: 16.2px;
  background-color: transparent;
}